.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 20px;
}

.left {
    flex: 2;
    height: fit-content;
    padding: 10px;

}

.middle{
    flex: 4;
    height: 100vh;
    padding: 10px;
    background-color: red;
}

.right {
    flex: 2;
    height: 100vh;
    padding: 10px;
    background-color: blue;
}
