.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 20px;
}

.left {
    flex: 2;
    height: fit-content;
    padding: 10px;

}

.middle{
    flex: 4;
    height: 100vh;
    padding: 10px;
}

.right {
    flex: 2;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 10px;
}

.date{
    margin: 0px;
    padding: 0px;
}

.datefont{
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: 0px;
    padding: 0px;
}